  <p>
    Name: <%= @recipe.name %>
    Ingredients <%= @recipe.ingredients %>
    Cook Time: <%= @recipe.cook_time %>
  </p>

<!-- contains links to delete the recipe and deletes via a DELETE request...  -->
<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
